<!-- <div class="container mt-4">

  <div class="card shadow">

    <div class="card-header">

      <h3>Add Employee</h3>

    </div>

    <div class="card-body">

      <input
        class="form-control mb-3"
        placeholder="Employee Code"
        [(ngModel)]="employee.employeeCode">

      <input
        class="form-control mb-3"
        placeholder="Name"
        [(ngModel)]="employee.name">

      <input
        class="form-control mb-3"
        placeholder="Email"
        [(ngModel)]="employee.email">

      <input
        class="form-control mb-3"
        placeholder="Phone"
        [(ngModel)]="employee.phoneNumber">

      <input
        class="form-control mb-3"
        placeholder="Designation"
        [(ngModel)]="employee.designation">

      <input
        class="form-control mb-3"
        type="date"
        [(ngModel)]="employee.joiningDate">

      <input
        class="form-control mb-3"
        type="number"
        [(ngModel)]="employee.salary">

      <button
        type="button"
        class="btn btn-success"
        (click)="saveEmployee()">

        Save Employee

      </button>

    </div>

  </div>

</div> --> 
<!-- code1 -->





<div class="container mt-4">

  <div class="card shadow">

    <div class="card-header">

      <h3>Add Employee</h3>

    </div>

    <div class="card-body">

      <!-- Global Error -->

      <div
        *ngIf="formSubmitted && !isFormValid()"
        class="alert alert-danger">

        Mandatory fields are not filled correctly.

      </div>

      <!-- Employee Code -->

      <input
        class="form-control mb-1"
        placeholder="Employee Code"
        [(ngModel)]="employee.employeeCode"
        [class.is-invalid]="formSubmitted && !employee.employeeCode">

      <div
        class="text-danger mb-3"
        *ngIf="formSubmitted && !employee.employeeCode">

        Employee Code is required

      </div>

      <!-- Name -->

      <input
        class="form-control mb-1"
        placeholder="Name"
        [(ngModel)]="employee.name"
        [class.is-invalid]="formSubmitted && !employee.name">

      <div
        class="text-danger mb-3"
        *ngIf="formSubmitted && !employee.name">

        Name is required

      </div>

      <!-- Email -->

      <input
        class="form-control mb-1"
        placeholder="Email"
        [(ngModel)]="employee.email"
        [class.is-invalid]="
          formSubmitted &&
          (
            !employee.email || !isValidEmail()
          )
        ">

      <div
        class="text-danger mb-3"
        *ngIf="formSubmitted && !employee.email">

        Email is required

      </div>

      <div
        class="text-danger mb-3"
        *ngIf="
          formSubmitted &&
          employee.email &&
          !isValidEmail()
        ">

        Enter a valid email address

      </div>

      <!-- Phone -->

      <input
        class="form-control mb-1"
        placeholder="Phone Number"
        [(ngModel)]="employee.phoneNumber"
        [class.is-invalid]="
          formSubmitted &&
          !isValidPhone()
        ">

      <div
        class="text-danger mb-3"
        *ngIf="
          formSubmitted &&
          !isValidPhone()
        ">

        Phone number must contain exactly 10 digits

      </div>

      <!-- Designation -->

      <input
        class="form-control mb-1"
        placeholder="Designation"
        [(ngModel)]="employee.designation"
        [class.is-invalid]="
          formSubmitted &&
          !employee.designation
        ">

      <div
        class="text-danger mb-3"
        *ngIf="
          formSubmitted &&
          !employee.designation
        ">

        Designation is required

      </div>

      <!-- Joining Date -->

      <input
        class="form-control mb-1"
        type="date"
        [(ngModel)]="employee.joiningDate"
        [class.is-invalid]="
          formSubmitted &&
          !employee.joiningDate
        ">

      <div
        class="text-danger mb-3"
        *ngIf="
          formSubmitted &&
          !employee.joiningDate
        ">

        Joining Date is required

      </div>

      <!-- Salary -->

      <input
        class="form-control mb-1"
        type="number"
        [(ngModel)]="employee.salary"
        [class.is-invalid]="
          formSubmitted &&
          employee.salary <= 0
        ">

      <div
        class="text-danger mb-3"
        *ngIf="
          formSubmitted &&
          employee.salary <= 0
        ">

        Salary must be greater than 0

      </div>

      <!-- Save Button -->

      <button
        type="button"
        class="btn btn-success mt-2"
        (click)="saveEmployee()">

        Save Employee

      </button>

    </div>

  </div>

</div>