.table {
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

.table thead {
  background: #1e293b;
}

.table thead th {
  color: rgb(3, 3, 3);
  font-weight: 600;
  padding: 14px;
  vertical-align: middle;
}

.table tbody td {
  padding: 14px;
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #f8fafc;
}

/* View Button */

.btn-view {
  background: #e0f2fe;
  color: #075985;
  border: none;
  border-radius: 8px;
  padding: 6px 14px;
  font-weight: 600;
}

.btn-view:hover {
  background: #bae6fd;
  color: #075985;
}

/* Edit Button */

.btn-edit {
  background: #fef9c3;
  color: #854d0e;
  border: none;
  border-radius: 8px;
  padding: 6px 14px;
  font-weight: 600;
}

.btn-edit:hover {
  background: #fde68a;
  color: #854d0e;
}

/* Delete Button */

.btn-delete {
  background: #fee2e2;
  color: #991b1b;
  border: none;
  border-radius: 8px;
  padding: 6px 14px;
  font-weight: 600;
}

.btn-delete:hover {
  background: #fecaca;
  color: #991b1b;
}