<div class="table-responsive">

  <table class="table table-bordered table-hover">

    <thead class="table-light">

      <tr>

        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Actions</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let emp of employees">

        <td>{{ emp.employeeId }}</td>

        <td>{{ emp.employeeCode }}</td>

        <td>{{ emp.name }}</td>

        <td>{{ emp.email }}</td>

        <td>{{ emp.phoneNumber }}</td>

        <td>{{ emp.designation }}</td>

        <td>₹{{ emp.salary }}</td>

        <td>

          <div class="d-flex gap-2">

            <button
              class="btn btn-sm btn-view"
              (click)="viewEmployee(emp.employeeId)">

              View

            </button>

            <button
              class="btn btn-sm btn-edit"
              (click)="editEmployee(emp.employeeId)">

              Edit

            </button>

            <button
              class="btn btn-sm btn-delete"
              (click)="onDelete(emp.employeeId)">

              Delete

            </button>

          </div>

        </td>

      </tr>

      <tr *ngIf="employees.length === 0">

        <td colspan="8" class="text-center text-danger">

          No Employees Found

        </td>

      </tr>

    </tbody>

  </table>

</div>