.dashboard-container{
    padding:30px;
    background:#f8fafc;
    min-height:100vh;
}

.hero{
    background:linear-gradient(
        135deg,
        #2563eb,
        #1d4ed8
    );

    color:white;

    padding:30px;

    border-radius:20px;

    margin-bottom:25px;
}

.hero h1{
    font-size:38px;
    font-weight:700;
}

.hero p{
    margin-bottom:0;
}

.stat-card{
    background:white;

    border-radius:18px;

    padding:25px;

    transition:.3s;

    box-shadow:
        0 10px 30px rgba(0,0,0,.08);
}

.stat-card:hover{

    transform:translateY(-5px);

}

.stat-card h6{
    color:#64748b;
}

.stat-card h2{
    color:#2563eb;
    font-weight:700;
}

.card{
    border:none;
    border-radius:18px;

    box-shadow:
        0 10px 25px rgba(0,0,0,.08);
}

.btn-primary{
    border-radius:12px;
}