<div class="container-fluid dashboard-container">

  <div class="d-flex justify-content-between align-items-center mb-4">

    <div>

      <h2 class="dashboard-title">
        Employee Dashboard
      </h2>

      <p class="dashboard-subtitle">
        Manage Employees
      </p>

    </div>

    <a
      routerLink="/employees/add"
      class="btn action-btn">

       Add Employee

    </a>

  </div>

  <div class="row mb-4">

    <!-- Total Employees -->

    <div class="col-md-4 mb-3">

      <div class="card summary-card card-total shadow">

        <div class="card-body text-center">

          <h6>Total Employees</h6>

          <h2>{{ totalEmployees }}</h2>

        </div>

      </div>

    </div>

    <!-- Departments -->

    <div class="col-md-4 mb-3">

      <div class="card summary-card card-department shadow">

        <div class="card-body text-center">

          <h6>Departments</h6>

          <h2>{{ totalDepartments }}</h2>

        </div>

      </div>

    </div>

    <!-- Active Employees -->

    <div class="col-md-4 mb-3">

      <div class="card summary-card card-active shadow">

        <div class="card-body text-center">

          <h6>Active Employees</h6>

          <h2>{{ activeEmployees }}</h2>

        </div>

      </div>

    </div>

  </div>

  <!-- added now -->

  <app-employee-list
    [employees]="paginatedEmployees"
    (deleteEmployee)="onDeleteEmployee($event)">
  </app-employee-list>

  <div class="d-flex justify-content-center mt-4 gap-2">

  <button
    class="btn btn-outline-primary"
    (click)="previousPage()"
    [disabled]="currentPage === 1">

    Previous

  </button>

  <span class="align-self-center">

    Page {{ currentPage }}
    of
    {{ totalPages }}

  </span>

  <button
    class="btn btn-outline-primary"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages">

    Next

  </button>

</div>

<!-- added now -->

</div>